---
import type { ImageMetadata } from 'astro';

interface Props {
    title: string;
    description: string;
    slug: string;
    tags: string[];
    image?: ImageMetadata; 
}

import Image from "../components/Image.astro";
const { tags, title, description, image, slug } = Astro.props;
import Badge from "./../components/Badge.astro";
import Button from "./../components/Button.astro";
---

<article class="project-card" data-tags={tags.join(' ')}>
    <div class="project-card__content">
        <div class="image-container">
            <Image
                src={image}
                alt={`Miniatura de ${title}`}
                width={400} 
                height={250}
                class="my-custom-img"
            />
        </div>

        <h3 class="project-card__title">{title}</h3>
        <p class="project-card__description">{description}</p>
        <ul class="project-card__tags">
            {tags.map((tag) => <li class="project-card__tag"><Badge variant={tag}>{tag}</Badge></li>)}
        </ul>

        <!-- <Button>Ver proyecto</Button>
        <Button class="botonako">Ver proyecto</Button> -->
        <Button href={`/projects/${slug}`}>Ver proyecto</Button>
    </div>
</article>

<style lang="scss">
    .project-card {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--border-color, #e5e7eb);
        background-color: #f2f3f4;
        border-radius: 0.75rem;
        overflow: hidden;
        transition: all var(--transition);

        &:hover {
            background-color: #f5f6f7;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        }

        &__content {
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .image-container {
                margin-bottom: 1em;
            }
        }
        
        &__tags {
            list-style: none;
            padding: 0;
            padding-bottom: 0.5rem;
            display: flex;
            gap: 0.5rem;
            margin-bottom: auto;
            & li{
                
            }
        }
        &__title {
            margin: 0;
            font-size: 1.25rem;
            color: var(--primary);
        }
    }
</style>
