---
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
const allTags = allProjects.map((project) => project.data.tags).flat();
const uniqueTags = [...new Set(allTags)];

import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Welcome from "../components/Welcome.astro";
import FilterBar from "../components/FilterBar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Footer from "../components/Footer.astro";

---

<MainLayout title="Home | Mi Portfolio">
    
    <Header></Header>  

    <section class="container section-padding">
        <Welcome />
        <main>main</main>
        <h1>El proyecto está vivo</h1>
        <p>
            Si ves esto con el tipo de letra Inter (o sans-serif) y centrado, el
            SCSS global está funcionando.
        </p>
    </section>

    <section class="container">
        <h1>Galería de Proyectos</h1>

        <FilterBar items={uniqueTags}></FilterBar>

        <div class="projects-grid">
            {
                allProjects.map((project) => (
                <ProjectCard
                    title={project.data.title}
                    description={project.data.description}
                    tags={project.data.tags}
                    image={project.data.image}
                    slug={project.id}
                />
                ))
            }
            </div>
    </section>
    
    <Footer></Footer>

    <style lang="scss">
        .projects-grid {
            margin-bottom: 3em;
            background-color: whitesmoke;
            border-radius: 0.5rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 2rem;
            margin-top: 3rem;

            & :global(article) { // Esto busca cualquier article dentro, sea de quien sea
                border: 1px solid #ccc;
            }
        }
    </style>
</MainLayout>
