---
    import { getCollection } from 'astro:content';
    import MainLayout from '../../layouts/MainLayout.astro';
    import { Image } from 'astro:assets';

    export async function getStaticPaths() {
    const ceramics = await getCollection('ceramics');
    
    return ceramics.map((item: { id: any; }) => ({
        params: { id: item.id },
        props: { item },
    }));
    }

    const { item } = Astro.props;
    const { title, author, description, img } = item.data;
---

<MainLayout title={title}>
  <main>
    <Image src={img} alt={title} width={800} height={600} />
    <h1>{title}</h1>
    <h3>por {author}</h3>
    
    <div class="content">
      <p>{description}</p>
    </div>

    <hr />
    <a href="/ceramics">← Volver al listado</a>
  </main>
</MainLayout>

<style>
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  .buy-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
</style>